<br><h3><strong>All Questions can be seen here</strong></h3>

<ol>
  <% @questions.each do |question| %>
      <li>
        <%= link_to question.title, question %>
      </li>
  <% end %>
</ol>

<%= link_to "Want to Ask a Question?", new_question_path %>