<br><h3><strong>All Questions asked by You are:</strong></h3>

<ol>
  <% @questions.each do |question| %>
    <% if question.approve %>
      <li>
        <%= link_to question.title, question %> { approved }
      </li>
    <% else %>
      <li>
        <%= link_to question.title, question %> { approval-pending }
      </li>
    <% end %>
  <% end %>
</ol>

<%= link_to "Want to Ask a Question?", new_question_path %>
