<br><h3><strong>All Answers by You are:</strong></h3>
<hr>
<div class="row">
  <div class="col-5"><strong> Answers </strong></div>
  <div class="col-2"><strong> Status </strong></div>
  <div class="col-3"><strong> Question </strong></div>
  <div class="col-2"><strong> Answered on </strong></div>
</div>
<hr>

<ol>
  <% @answers.each do |answer| %>
      <li>
        <div class="row">
          <div class="col-5">
            <h4><%= answer.answer %></h4>
          </div>
          <div class="col-2">
            <% if answer.approve %>
              Approved
            <% else %>
              Not-Approved
            <% end %>
          </div>
          <div class="col-3">
             Q.<%= link_to Question.find(answer.question_id).title, question_path(answer.question_id) %>
          </div>
          <div class="col-2">
            <%= answer.created_at.strftime("%B %d,%Y at %k:%M") %>
          </div>
        </div>
      </li>
  <% end %>
</ol>

<hr>
<%= will_paginate @answers, previous_label: h("<"), next_label: h(">")%>
