<br><h3><strong>All Answers by You are:</strong></h3>

<ol>
  <% @answers.each do |answer| %>
      <li>
        <%= answer.answer %>
        <%= link_to Question.find(answer.question_id).title, question_path(answer.question_id) %>
      </li>
  <% end %>
</ol>
